<form action="/" method="post">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Cep</label>
  <input type="text" class="form-control" id="cep" name="cep" placeholder="digite seu cep">
</div>
<button class="btn btn-dark">Buscar</button>
</form>

<h1>Bairro:{{ this.endereco.bairro}}</h1>
<h1>{{this.endereco.logradouro}}</h1>
